
main{
    margin-top: 50px;
    padding-left: 10vw;
}
div{
    margin-left: 20px;
    font-size: 20px;
}
button{
    display: block;
    /*margin-left: 3%;*/
    width: 90%;
    color: darkolivegreen;
    background-color: darkgrey;
    height: 30px;
    border-radius: 10px;
}
.cicle2{
    width: 300px;
   color: red;
    background-color: silver;
}
p{
    /*margin-left: 20vw;*/
    color: #814681;
    font-size: 20px;
}